#liste aside.legend {
	height: 0;
    padding-right: 15px;
    position: relative;
    text-align: right;
    top: 25px;
}

#liste aside.legend dl {
	margin: 0;
	padding: 0;
	border: none;
}

#liste aside.legend dl * {
	display: inline-block;
	vertical-align: middle;
}

#liste aside.legend dl dd {
	margin-right: 1em;
}

#liste td.yamm_active,
#liste aside.legend dt.yamm_active {
    background-image: url("../bg/ico_yamm_active.gif");
    background-position: center center;
    background-repeat: no-repeat;
    min-width: 17px;
}

#liste td.yamm_disabled,
#liste aside.legend dt.yamm_disabled {
    background-image: url("../bg/ico_yamm_disabled.gif");
    background-position: center center;
    background-repeat: no-repeat;
    min-width: 17px;
}

#liste aside.legend dt.active {
    background-image: url("/out/admin/src/bg/ico_active.gif");
    background-position: center center;
    background-repeat: no-repeat;
    min-width: 17px;
}

#liste td.yamm_info .listitemfloating span:not(:last-child):after {
    content: ',';
}

#yamm_metadata table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

#yamm_metadata table td {
    padding: 0 3px;
}

#yamm_metadata table tr:hover td {
    background-color: #f55;
}

#aModulesList .sortable2.disabled li {
	cursor: inherit;
}

#aModulesList .sortable2.disabled li:hover {
	background: inherit;
    border: 1px solid transparent;
    border-radius: 0;
}

#footerBox .buttonBox {
    position: relative;
    display: block;
}

#footerBox .buttonBox > * {
    display: inline-block;
    padding-left: inherit;
}

.select {
    width: 75px;
}
